html
	head
		title URL Shortener Microservice
	body
		div.container
			h2 Example creation usage:
			code https://short-url-microservice-fcc.herokuapp.com/add/http://your-url/path

			h2 Output:
			code { "original_url": "http://your-url/path", "short_url": "http://short-url-microservice-fcc.herokuapp.com/4" }

			h2 Usage:
			code http://short-url-microservice-fcc.herokuapp.com/4
